<script src="https://pagination.js.org/dist/2.6.0/pagination.min.js"></script>
<script>
    Handlebars.registerHelper("toJSON", function (object) {
      return new Handlebars.SafeString(JSON.stringify(object));
    });
    Handlebars.registerHelper("getParam", function (param) {
      const url = new URL(window.location.href);
      return url.searchParams.get(param);
    });

    authHeader = {
      Authorization: "Basic " + btoa("JOil58wOWFVYGJZ8pnt:x"),
      "Content-Type": "application/json"
    };
   	authHeaderNotCT = {
      Authorization: "Basic " + btoa("JOil58wOWFVYGJZ8pnt:x")
    };

    defaultImage = `<svg width="40" height="40" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M7.828 5l-1-1H22v15.172l-1-1v-.69l-3.116-3.117-.395.296-.714-.714.854-.64a.503.503 0 0 1 .657.046L21 16.067V5zM3 20v-.519l2.947-2.947a1.506 1.506 0 0 0 .677.163 1.403 1.403 0 0 0 .997-.415l2.916-2.916-.706-.707-2.916 2.916a.474.474 0 0 1-.678-.048.503.503 0 0 0-.704.007L3 18.067V5.828l-1-1V21h16.172l-1-1zM17 8.5A1.5 1.5 0 1 1 15.5 7 1.5 1.5 0 0 1 17 8.5zm-1 0a.5.5 0 1 0-.5.5.5.5 0 0 0 .5-.5zm5.646 13.854l.707-.707-20-20-.707.707z" />
                        <path fill="none" d="M0 0h24v24H0z" />
                    </svg>`;
</script>
<script>
    (function () {
      var pushState = history.pushState;
      var replaceState = history.replaceState;

      history.pushState = function () {
        pushState.apply(history, arguments);
        window.dispatchEvent(new Event("pushstate"));
        window.dispatchEvent(new Event("locationchange"));
      };

      history.replaceState = function () {
        replaceState.apply(history, arguments);
        window.dispatchEvent(new Event("replacestate"));
        window.dispatchEvent(new Event("locationchange"));
      };

      window.addEventListener("popstate", function () {
        window.dispatchEvent(new Event("locationchange"));
      });
    })();

    window.addEventListener("locationchange", function () {
      const currentUrl = window.location.pathname;
      $(".nav-item").removeClass("active");
      $('.nav-item[href="' + currentUrl + '"]').addClass("active");
    });
</script>
<script>
    function renderHome(lang) {
      $(document).ready(function () {
        const appContainer = jQuery("#sr-categories-list");
        const processContainer = jQuery("#list-items");
        var appList = [];
        var processList = [];
        const url = `https://trusisor.freshservice.com/api/v2/objects/27000052210/records?query=language%20%3A%20%27${lang}%27%20AND%20is_active%20%3A%20%271%27`;

        $("#sr-search").keyup(function (e) {
          const activeApp = $(document).width() > 768 ? appContainer.find("li.active").data("app") : jQuery("#sr-categories-list-mb").val();
          const keyword = e.target.value.toLowerCase();
          const filteredProcesses = processList.filter(function (item) {
            const processName = item.data.process_name.toLowerCase();
            const appCode = item.data.app_code;

            if (activeApp === "all") {
              return processName.includes(keyword);
            }

            return processName.includes(keyword) && appCode.includes(activeApp);
          });

          renderProcess(filteredProcesses);
        });
        jQuery.ajax({
          type: "GET",
          url: url,
          dataType: "json",
          headers: authHeader,
          success: function (response) {
            appList = getUniqueAppInfo(response.records);
            processList = response.records;
            renderApp(appList);
            renderProcess(processList);
          }
        });

        function getUniqueAppInfo(jsonData) {
          const uniqueAppInfo = new Map();

          jsonData.forEach((record) => {
            const { app_code, app_name, app_image } = record.data;

            const key = `${app_code}-${app_name}`;
            if (app_image) {
              uniqueAppInfo.set(key, { app_code, app_name, app_image });
            } else if (!uniqueAppInfo.has(key)) {
              uniqueAppInfo.set(key, { app_code, app_name, app_image: "" });
            }
          });
          const result = Array.from(uniqueAppInfo.values());
          return result;
        }

        function renderApp(list) {
          const title = lang == "vi" ? "Tất cả các mục dịch vụ" : "All Service Items";
          let html = `<li data-app="all" data-title="${title}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <g clip-path="url(#clip0_9423_15846)">
                                <path
                                    d="M3.75 23.25L12 17.25L20.25 23.25V3C20.25 2.40326 20.0129 1.83097 19.591 1.40901C19.169 0.987053 18.5967 0.75 18 0.75H6C5.40326 0.75 4.83097 0.987053 4.40901 1.40901C3.98705 1.83097 3.75 2.40326 3.75 3V23.25Z"
                                    stroke="#9B51E0" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_9423_15846">
                                    <rect width="24" height="24" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        ${title}
                    </li>`;
          let option = `<option selected="" value="all">${title}</option>`;
          jQuery.map(list, function (item, index) {
            const { app_name, app_code, app_image } = item;
            html += `<li data-app="${app_code}" data-title="${app_name}" title="${app_name}">
                        ${app_image ? app_image : defaultImage}
                        ${app_name}
                    </li>`;
            option += `<option value="${app_code}">${app_name}</option>`;
          });
          appContainer.html(html);
          jQuery("#sr-categories-list-mb").html(option);
          $("#sr-categories-list li").click(function (e) {
            e.preventDefault();
            const appCode = jQuery(this).data("app");
            const title = jQuery(this).data("title");
            jQuery("h3").html(title);
            jQuery(this).closest("ul").find("li").removeClass("active");
            jQuery(this).closest("li").addClass("active");
            if (appCode == "all") renderProcess(processList);
            else {
              const newPList = processList.filter((item) => item.data.app_code == appCode);
              renderProcess(newPList);
            }
          });
          $("#sr-categories-list-mb").change(function (e) {
            e.preventDefault();
            const appCode = e.target.value;
            if (appCode == "all") renderProcess(processList);
            else {
              const newPList = processList.filter((item) => item.data.app_code == appCode);
              renderProcess(newPList);
            }
          });
        }
        function renderProcess(list) {
          $("#pagination").pagination({
            dataSource: list,
            pageSize: 8,
            callback: function (data, pagination) {
              let html = "";
              $.each(data, function (index, item) {
                console.log(item);
                const { process_image, process_name, process_url, process_description } = item.data;
                html += `<a class="item" href="${process_url}" target="_blank">
                            <div class="image">
                                ${process_image ? process_image : defaultImage}
                            </div>
                            <div class="info">
                                <h4>${process_name}</h4>
                                <p class="max2">${process_description}</p>
                            </div>
                        </a>`;
              });
              processContainer.html(html);
            }
          });
        }
      });

      $(document).ready(function () {
        const categoryContainer = jQuery("#solution-categories-list");
        const articleContainer = jQuery("#list-articles");
        const url = "https://trusisor.freshservice.com/api/v2/solutions/categories";
        jQuery.ajax({
          type: "GET",
          url: url,
          dataType: "json",
          headers: authHeader,
          success: function (response) {
            renderCategory(response.categories?.slice(1));
          }
        });
        function renderCategory(list) {
          let html = ``;
          let option = "";
          jQuery.map(list, function (item, index) {
            const { id, name } = item;
            if (index == 0) fetchArticle(id);
            html += `<li data-id=${id} class="flex-center ${index == 0 ? " active" : ""}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="20" viewBox="0 0 18 20" fill="none">
                            <path d="M1.5 19.1654V0.832031H16.5V19.1654" stroke="currentColor" stroke-width="1.4" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M1.5 17.5H16.5" stroke="currentColor" stroke-width="1.4" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M1.5 9.16406H16.5" stroke="currentColor" stroke-width="1.4" stroke-linecap="round"
                                stroke-linejoin="round" />
                            <path d="M9.83594 6.66406V4.16406H4.83594V6.66406" stroke="currentColor" stroke-width="1.4"
                                stroke-linecap="round" stroke-linejoin="round" />
                            <path d="M13.1641 15V12.5H8.16406V15" stroke="currentColor" stroke-width="1.4" stroke-linecap="round"
                                stroke-linejoin="round" />
                        </svg>
                        ${name}
                    </li>`;
            option += `<option selected="${index == 0 ? "true" : "false"}" value="${id}">${name}</option>`;
          });
          categoryContainer.html(html);
          jQuery("#solution-categories-mb").html(option);

          $("#solution-categories-list li").click(function (e) {
            e.preventDefault();
            const id = jQuery(this).data("id");
            jQuery(this).closest("ul").find("li").removeClass("active");
            jQuery(this).addClass("active");
            fetchArticle(id);
          });
          $("#solution-categories-mb").change(function (e) {
            e.preventDefault();
            const id = e.target.value;
            fetchArticle(id);
          });
        }
        function fetchArticle(category_id) {
          jQuery.ajax({
            type: "GET",
            url: `https://trusisor.freshservice.com/api/v2/solutions/folders?category_id=${category_id}`,
            dataType: "json",
            headers: authHeader,
            success: function (response) {
              renderArticle(response.folders);
            }
          });
        }

        function renderArticle(list) {
          let html = ``;
          jQuery.map(list, function (item, index) {
            const { id, name } = item;
            html += `<a href="/support/solutions/folders/${id}" class="item">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="none">
                            <g clip-path="url(#clip0_9485_1515)">
                                <path d="M2 14.6667H13.3333L15.3333 6H4L2 14.6667Z" stroke="currentColor" stroke-width="1.4"
                                    stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M12.6641 3.33203H6.66406L5.33073 1.33203H0.664062V11.9987" stroke="currentColor" stroke-width="1.4"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_9485_1515">
                                    <rect width="16" height="16" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                        <p>${name}</p>
                        <svg class="icon-end" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"
                            fill="currentColor">
                            <g clip-path="url(#clip0_9368_15935)">
                                <path d="M8 1.5V14.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                                <path d="M1.5 8H14.5" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                                    stroke-linejoin="round" />
                            </g>
                            <defs>
                                <clipPath id="clip0_9368_15935">
                                    <rect width="16" height="16" fill="white" />
                                </clipPath>
                            </defs>
                        </svg>
                    </a>`;
          });
          articleContainer.html(html);
        }
      });
    }
</script>
{{#if (eq user_info.location_name "Vietnam")}}
<div class="custom-container">
    <div class="logo">
        <a href="/support/home"><img src="https://www.truvisor.io/wp-content/uploads/2022/04/logo-light.svg" alt=""></a>
    </div>
    <div class="nav">
        <input type="checkbox" class='nav__input' name="" id="nav__input">
        <nav class="nav__pc">
            <ul class="nav__list">
                <li><a href="/support/home" class="nav-item nav__link">Trang chủ</a></li>
                <li><a href="/support/solutions" class="nav-item nav__link">Hỗ trợ</a></li>
                <li><a href="/support/tickets" class="nav-item nav__link">Yêu cầu</a></li>
                <li><a href="/support/approvals/pending" class="nav-item nav__link">Phê duyệt</a></li>
            </ul>
        </nav>
        <label for="nav__input" class="nav__overlay">
        </label>
        <nav class="nav__mobile">
            <label for="nav__input" class="nav__mobile-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M19.7 4.3C19.3 3.9 18.7 3.9 18.3 4.3L12 10.6L5.7 4.3C5.3 3.9 4.7 3.9 4.3 4.3C3.9 4.7 3.9 5.3 4.3 5.7L10.6 12L4.3 18.3C3.9 18.7 3.9 19.3 4.3 19.7C4.5 19.9 4.7 20 5 20C5.3 20 5.5 19.9 5.7 19.7L12 13.4L18.3 19.7C18.5 19.9 18.8 20 19 20C19.2 20 19.5 19.9 19.7 19.7C20.1 19.3 20.1 18.7 19.7 18.3L13.4 12L19.7 5.7C20.1 5.3 20.1 4.7 19.7 4.3Z"
                        fill="#232628" />
                </svg>
                <span>Đóng</span>
            </label>
            <ul class="nav__mobile-list">
                <li><a href="/support/home" class="nav-item nav__mobile-link">Trang chủ</a></li>
                <li><a href="/support/solutions" class="nav-item nav__mobile-link">Hỗ trợ</a></li>
                <li><a href="/support/tickets" class="nav-item nav__mobile-link">Yêu cầu</a></li>
                <li><a href="/support/approvals/pending" class="nav-item nav__mobile-link">Phê duyệt</a></li>
            </ul>
            <div class="login-section">
                {{#if portal.logged_in}}
                    <div class="flex-center">{{avatar name=user_info.full_name url=user_info.profile_pic
                        class="user-profile-pic"}}
                        <span>{{user_info.first_name}} {{user_info.last_name}}</span>
                    </div>
                {{else}}
                    <a class="button btn-login" href="">
                        Đăng nhập
                    </a>
                {{/if}}
            </div>
        </nav>
    </div>
    {{#if portal.logged_in}}
        <div class="user">
            {{> user_notifications}}
            <div class="menu-container">
                <button id="btn-profile-options" class="menu-trigger user flex-center" menu-target="user-dropdown"
                    aria-haspopup="menu" aria-expanded="false" aria-label="{{translate "portal.aria.profile_menu"}}">
                    {{avatar name=user_info.full_name url=user_info.profile_pic class="user-profile-pic"}}
                    <span class="username hide-on-mobile">{{user_info.first_name}} {{user_info.last_name}}</span>
                </button>

                <div class="menu" id="user-dropdown">
                    <div class="user-profile-info">
                        <div class="user-pic-thumb">
                            {{avatar name=user_info.first_name url=user_info.profile_pic class="user-profile-pic"}}
                        </div>
                        <span>{{user_info.first_name}} {{user_info.last_name}}</span>
                    </div>
                    <div role="menu">
                        <a href="/support/profile/edit" role="menuitem" aria-controls="page-main">
                            {{translate "portal.user_dropdown.edit_profile"}}
                        </a>
                        {{#if portal.switch_to_agent_portal}}
                        <a href="/support/agent_portal/view" id="switch-agent-portal" role="menuitem">
                            {{translate "portal.user_dropdown.switch_to_agent_portal"}}
                        </a>
                        {{/if}}
                        {{#if portal.switch_portal}}
                        <a href="javascript:void(0)" id="switch-portal" role="menuitem" aria-controls="page-main">
                            {{translate "portal.ask_bot_name" bot_name=portal.bot_name}}
                        </a>
                        {{/if}}
                        <a href="/support/announcements" role="menuitem" aria-haspopup="dialog">
                            {{translate "portal.announcements"}}
                        </a>
                        {{#if features.project_management}}
                        <a href="/a/project_management/projects" role="menuitem" aria-haspopup="dialog" target="_blank">
                            {{translate "portal.project_management"}}
                            {{image src="/images/portal_v2/open-in-new-tab.svg" alt=(translate "portal.aria.external")
                            class="external-link"}}
                        </a>
                        {{/if}}
                        <a href="/logout" role="menuitem" aria-controls="page-main">
                            {{translate "portal.user_dropdown.sign_out"}}
                        </a>
                    </div>

                </div>
            </div>
        </div>
    {{else}}
        <div class="login-section">
            <a class="button btn-login" href="">
                Đăng nhập
            </a>
        </div>
    {{/if}}
    <label for="nav__input" class="nav__bar-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M3 5H29" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M3 16H29" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M3 27H29" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </label>
</div>
{{!--
{{else if (eq user_info.location_name "Singapore")}}
    <div class="logo">
        <a href="/support/home"><img src="https://www.truvisor.io/wp-content/uploads/2022/04/logo-light.svg" alt=""></a>
    </div>
    <div class="nav">
        <input type="checkbox" class='nav__input' name="" id="nav__input">
        <nav class="nav__pc">
            <ul class="nav__list">
                <li><a href="/support/home" class="nav-item nav__link">Home</a></li>
                <li><a href="/support/solutions" class="nav-item nav__link">Solutions</a></li>
                <li><a href="/support/tickets" class="nav-item nav__link">Tickets</a></li>
                <li><a href="/support/approvals/pending" class="nav-item nav__link">Approvals</a></li>
                <li><a href="/support/catalog/items" class="nav-item nav__link">SC</a></li>
            </ul>
        </nav>
        <label for="nav__input" class="nav__overlay">
        </label>
        <nav class="nav__mobile">
            <label for="nav__input" class="nav__mobile-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                    <path
                        d="M19.7 4.3C19.3 3.9 18.7 3.9 18.3 4.3L12 10.6L5.7 4.3C5.3 3.9 4.7 3.9 4.3 4.3C3.9 4.7 3.9 5.3 4.3 5.7L10.6 12L4.3 18.3C3.9 18.7 3.9 19.3 4.3 19.7C4.5 19.9 4.7 20 5 20C5.3 20 5.5 19.9 5.7 19.7L12 13.4L18.3 19.7C18.5 19.9 18.8 20 19 20C19.2 20 19.5 19.9 19.7 19.7C20.1 19.3 20.1 18.7 19.7 18.3L13.4 12L19.7 5.7C20.1 5.3 20.1 4.7 19.7 4.3Z"
                        fill="#232628" />
                </svg>
                <span>Close</span>
            </label>
            <ul class="nav__mobile-list">
                <li><a href="/support/home" class="nav-item nav__mobile-link">Home</a></li>
                <li><a href="/support/solutions" class="nav-item nav__mobile-link">Solutions</a></li>
                <li><a href="/support/tickets" class="nav-item nav__mobile-link">Tickets</a></li>
                <li><a href="/support/approvals/pending" class="nav-item nav__mobile-link">Approvals</a></li>
                <li><a href="/support/catalog/items" class="nav-item nav__mobile-link">SC</a></li>
            </ul>
            <div class="login-section">
                {{#if portal.logged_in}}
                    <div class="flex-center">{{avatar name=user_info.full_name url=user_info.profile_pic
                        class="user-profile-pic"}}
                        <span>{{user_info.first_name}} {{user_info.last_name}}</span>
                    </div>
                {{else}}
                    <a class="button btn-login" href="">
                        Login
                    </a>
                {{/if}}
            </div>
        </nav>
    </div>
    {{#if portal.logged_in}}
        <div class="user">
            {{> user_notifications}}
            <div class="menu-container">
                <button id="btn-profile-options" class="menu-trigger user flex-center" menu-target="user-dropdown"
                    aria-haspopup="menu" aria-expanded="false" aria-label="{{translate "portal.aria.profile_menu"}}">
                    {{avatar name=user_info.full_name url=user_info.profile_pic class="user-profile-pic"}}
                    <span class="username hide-on-mobile">{{user_info.first_name}} {{user_info.last_name}}</span>
                </button>

                <div class="menu" id="user-dropdown">
                    <div class="user-profile-info">
                        <div class="user-pic-thumb">
                            {{avatar name=user_info.first_name url=user_info.profile_pic class="user-profile-pic"}}
                        </div>
                        <span>{{user_info.first_name}} {{user_info.last_name}}</span>
                    </div>
                    <div role="menu">
                        <a href="/support/profile/edit" role="menuitem" aria-controls="page-main">
                            {{translate "portal.user_dropdown.edit_profile"}}
                        </a>
                        {{#if portal.switch_to_agent_portal}}
                        <a href="/support/agent_portal/view" id="switch-agent-portal" role="menuitem">
                            {{translate "portal.user_dropdown.switch_to_agent_portal"}}
                        </a>
                        {{/if}}
                        {{#if portal.switch_portal}}
                        <a href="javascript:void(0)" id="switch-portal" role="menuitem" aria-controls="page-main">
                            {{translate "portal.ask_bot_name" bot_name=portal.bot_name}}
                        </a>
                        {{/if}}
                        <a href="/support/announcements" role="menuitem" aria-haspopup="dialog">
                            {{translate "portal.announcements"}}
                        </a>
                        {{#if features.project_management}}
                        <a href="/a/project_management/projects" role="menuitem" aria-haspopup="dialog" target="_blank">
                            {{translate "portal.project_management"}}
                            {{image src="/images/portal_v2/open-in-new-tab.svg" alt=(translate "portal.aria.external")
                            class="external-link"}}
                        </a>
                        {{/if}}
                        <a href="/logout" role="menuitem" aria-controls="page-main">
                            {{translate "portal.user_dropdown.sign_out"}}
                        </a>
                    </div>

                </div>
            </div>
        </div>
    {{else}}
        <div class="login-section">
            <a class="button btn-login" href="">
                Login
            </a>
        </div>
    {{/if}}
    <label for="nav__input" class="nav__bar-btn">
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M3 5H29" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M3 16H29" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M3 27H29" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
    </label>
    <script>
    ;(function() {
        var pushState = history.pushState;
        var replaceState = history.replaceState;

        history.pushState = function() {
            pushState.apply(history, arguments);
            window.dispatchEvent(new Event('pushstate'));
            window.dispatchEvent(new Event('locationchange'));
        };

        history.replaceState = function() {
            replaceState.apply(history, arguments);
            window.dispatchEvent(new Event('replacestate'));
            window.dispatchEvent(new Event('locationchange'));
        };

        window.addEventListener('popstate', function() {
            window.dispatchEvent(new Event('locationchange'))
        });
    })();

    window.addEventListener('locationchange', function(){
        const currentUrl = window.location.pathname;
        $('.nav-item').removeClass('active');
        $('.nav-item[href="' + currentUrl + '"]').addClass('active');
    })
    </script>
--}}
{{else}}
    <div id="header-container"
    data-ce="true"
    data-ce-id="header"
    data-ce-type="header"
    data-ce-template-name="header"
    data-outline-text="Header"
    >
    <section class="pull-left header-section">
        <div class="menu-container">
        <button 
            id            = "menu-icon" 
            class         = "menu-trigger" 
            menu-target   = "main-nav" 
            role          = "button" 
            aria-haspopup = "menu" 
            aria-expanded = "false" >
          
			{{image src="/assets/portal_v2/menu.svg" alt=(translate "portal.aria.menu") class="menu-icon" }}
            {{image src="/assets/portal_v2/menu-white.svg" alt=(translate "portal.aria.menu") class="menu-white" }}
        </button>
        <nav id="main-nav" class="menu" role="menu">
            <div class="show-on-mobile page-title">
            {{image src=portal.logo alt=(concat portal.name " " (translate "portal.aria.logo")) class="portal-logo" }} <h1 class="portal-name">{{portal.name}}</h1>
            </div>
            <div class="main-nav-items">
            {{#each menuitems as |menu|}}
                <a href = "{{menu.url}}"
                role  = "menuitem"
                class = "{{menu.class}} {{menu.src}}"
                {{conditional_attribute menu.external_image 'target' '_blank'}} >
                    <span>{{menu.text}}</span>
                    {{#if menu.external_image}}
                        {{image src=menu.external_image alt=(translate "portal.aria.external") class="external-link"}}
                    {{/if}}
                </a>
            {{/each}}
            </div>
        </nav>
        </div>
    
    
        <a href="{{ternary portal.linkback_url portal.linkback_url '/support/home'}}"
        class="hide-on-mobile linkback-url" aria-label="{{portal.name}} {{translate "portal.aria.logo"}}">
            {{image src=portal.logo alt="" class="portal-logo" }}
        </a>
        
        <h1 class="portal-name hide-on-mobile">{{{portal.name}}}</h1>
    </section>

    <section class="pull-right header-section">
        <section id="search-header" class="hide-on-home hide-on-login-signup">
        <button id="search-header-mobile" class="ficon-search show-on-mobile" aria-label="{{translate "portal.common.search" }}"></button>
        <form role='search' id="search-form-header" class="hide-on-mobile">
            <i class="ficon-search" role="presentation"></i>
            <input 
            type        = "search" 
            id          = "header-search"
            class       = "hide-on-home hide-on-login search-input"
            placeholder = "{{translate 'portal.common.search'}}" 
            aria-label  = "{{translate "portal.home_search_placeholder" }}" />
        </form>
        </section>
        <div class="helpdesk-number {{ternary portal.contact_information 'ficon-phone' ''}} hide-on-mobile">
        {{{portal.contact_information}}}
        </div>
        {{#if portal.logged_in}}
        <div class="menu-container hide-on-home hide-on-login-signup">

            <button 
            id            = "btn-header-request"
            class         = "btn menu-trigger" 
            menu-target   = "request-dropdown" 
            aria-expanded = "false" 
            aria-label    = "{{translate "portal.aria.new_menu"}}" 
            aria-haspopup = "menu" 
            aria-controls = "request-dropdown">
            <span class="elem-inline-mid">{{translate "portal.common.new"}}</span>
            </button>
            
            <nav role="menu" class="menu" id="request-dropdown">
            <a href         = "/support/tickets/new"
                role          = "menuitem" 
                class         = "incident"
                aria-controls = "page-main">
                <h2>{{translate "portal.request_menu.incident_title"}}</h2>
                <p>{{translate "portal.request_menu.incident_text"}}</p>
            </a>
                {{#requestmenu}}
                {{#if show}}
                    <a href = "{{url}}"
                    role          = "menuitem"
                    class         = "{{className}}"
                    aria-controls = "page-main">
                        <h2>{{title}}</h2>
                        <p>{{text}}</p>
                    </a>
                {{/if}}
                {{/requestmenu}}
            </nav>

        </div>

        {{> user_notifications}}
        <div class="menu-container">
            <button 
            id            = "btn-profile-options"
            class         = "menu-trigger" 
            menu-target   = "user-dropdown"
            aria-haspopup = "menu" 
            aria-expanded = "false" 
            aria-label    = "{{translate "portal.aria.profile_menu"}}" >
                {{avatar name=user_info.full_name url=user_info.profile_pic class="user-profile-pic"}}
            </button>

            <div class="menu" id="user-dropdown">
            <div class="user-profile-info">
                <div class="user-pic-thumb">
                {{avatar name=user_info.first_name url=user_info.profile_pic class="user-profile-pic"}}
                </div>
                <span>{{user_info.first_name}} {{user_info.last_name}}</span>
            </div>

            <div role="menu">
                <a href         = "/support/profile/edit"
                role          = "menuitem"
                aria-controls = "page-main">
                    {{translate "portal.user_dropdown.edit_profile"}}
                </a>
                {{#if portal.switch_to_agent_portal}}
                <a href         = "/support/agent_portal/view"
                    id            = "switch-agent-portal"
                    role          = "menuitem">
                    {{translate "portal.user_dropdown.switch_to_agent_portal"}}
                </a>
                {{/if}}
                {{#if portal.switch_portal}}
                <a href         = "javascript:void(0)"
                id            = "switch-portal"
                role          = "menuitem" 
                aria-controls = "page-main">
                    {{translate "portal.ask_bot_name" bot_name=portal.bot_name}}
                </a>
                {{/if}}
                <a href         = "/support/announcements"
                role          = "menuitem"
                aria-haspopup = "dialog">
                    {{translate "portal.announcements"}}
                </a>
                {{#if features.project_management}}
                <a href         = "/a/project_management/projects"
                role          = "menuitem"
                aria-haspopup = "dialog"
                target        = "_blank">
                    {{translate "portal.project_management"}}
                    {{image src="/images/portal_v2/open-in-new-tab.svg" alt=(translate "portal.aria.external") class="external-link"}}
                </a>
                {{/if}}
                <a href         = "/logout"
                role          = "menuitem" 
                aria-controls = "page-main">
                    {{translate "portal.user_dropdown.sign_out"}}
                </a>
            </div>

            </div>
        </div>
        {{else}}
        <a href="/support/login" class="header-text btn">{{translate "portal.login"}}</a>
        {{#if features.signup }}
            <a href="/support/signup" class="header-text btn">{{translate "portal.signup"}}</a>
        {{/if}}
        {{/if}}
    </section>
    </div>
{{/if}}