{{#if (eq user_info.location_name "Vietnam")}}
    <section id="home-page-container" data-ce-version="2.1">
        <section class="hero-banner">
            <h1>Chào mừng bạn đến với Truvisor Việt Nam</h1>
            <h6>Chúng tôi có thể trợ giúp gì được cho bạn?</h6>
            <form role='search' id="search-form">
                <input type="search" id="global-search-home" class="search-input"
                    placeholder="Tìm kiếm các giải pháp, dịch vụ và hỗ trợ" />
                <button type="button" class="button">Tìm kiếm</button>
            </form>
            <div class="tags">
                <span>Phổ biến:</span>
                <div class="tag-list">
                    <a target="_blank" href="/support/search?term=nghỉ%20phép">Nghỉ phép</a>
                    <a target="_blank" href="/support/search?term=chấm%20công">Chấm công</a>
                    <a target="_blank" href="/support/search?term=cộng%20tác%20phí">Công tác phí</a>
                </div>
            </div>
        </section>
        <section class="functions">
            <h2 class="heading text-center">
                Các chức năng phổ biến
            </h2>
            <div class="function-list">
                {{#each cards}}
                <div class="item">
                    <div class="image">
                        {{image src=img alt="" role="presentation"}}
                    </div>
                    <h6>{{title}}</h6>
                    <p>{{content}}</p>
                    <a href="{{url}}">Truy cập</a>
                </div>
                {{/each}}
            </div>
        </section>
        <section class="services">
            <div class="sub-header">
                <div>
                    <h2 class="heading">Tạo yêu cầu phê duyệt</h2>
                    <h6 class="sub-title">Các yêu cầu phục vụ cho cán bộ, công nhân viên doanh nghiệp</h6>
                </div>
                <form role='search' class="search-form">
                    <input id="sr-search" type="search" placeholder="Tìm kiếm" />
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M22.5623 20.4403L17.3293 15.2073C18.6419 13.3626 19.2134 11.092 18.9306 8.84566C18.6478 6.59935 17.5313 4.54128 15.8025 3.07944C14.0736 1.6176 11.8586 0.8587 9.59656 0.953184C7.33449 1.04767 5.19048 1.98864 3.58956 3.58956C1.98864 5.19048 1.04767 7.33449 0.953184 9.59656C0.8587 11.8586 1.6176 14.0736 3.07944 15.8025C4.54128 17.5313 6.59935 18.6478 8.84566 18.9306C11.092 19.2134 13.3626 18.6419 15.2073 17.3293L20.4403 22.5623C20.7217 22.8437 21.1033 23.0018 21.5013 23.0018C21.8992 23.0018 22.2809 22.8437 22.5623 22.5623C22.8437 22.2809 23.0018 21.8992 23.0018 21.5013C23.0018 21.1033 22.8437 20.7217 22.5623 20.4403ZM3.00129 10.0013C3.00129 8.61682 3.41183 7.26344 4.181 6.1123C4.95017 4.96115 6.04342 4.06395 7.32251 3.53413C8.60159 3.00432 10.0091 2.8657 11.3669 3.13579C12.7248 3.40589 13.9721 4.07258 14.951 5.05154C15.93 6.03051 16.5967 7.27779 16.8668 8.63566C17.1369 9.99353 16.9983 11.401 16.4684 12.6801C15.9386 13.9592 15.0414 15.0524 13.8903 15.8216C12.7391 16.5907 11.3858 17.0013 10.0013 17.0013C8.14543 16.9992 6.36618 16.261 5.05388 14.9487C3.74159 13.6364 3.00341 11.8572 3.00129 10.0013Z"
                                fill="#A9B1BB" />
                        </svg>
                    </div>
                </form>
            </div>
            <div class="sr-container">
                <aside class="sr-categories hide-on-mobile">
                    <ul id="sr-categories-list"></ul>
                </aside>
                <div class="sr-list-container">
                    <h3 class="hide-on-mobile"></h3>
                    <select class="show-on-mobile" id="sr-categories-list-mb"></select>
                    <div class="sr-list-items" id="list-items"></div>
                  	<div id="pagination"></div>
                </div>
            </div>
        </section>
        <section class="solutions">
            <div class="sub-header">
                <div>
                    <h2 class="heading">Thư viện hỗ trợ</h2>
                    <h6 class="sub-title">Các câu hỏi thường gặp, hướng dẫn sử dụng</h6>
                </div>
                <a href="/support/search">
                    <form role='search' class="search-form">
                        <input type="search" placeholder="Tìm kiếm" />
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M22.5623 20.4403L17.3293 15.2073C18.6419 13.3626 19.2134 11.092 18.9306 8.84566C18.6478 6.59935 17.5313 4.54128 15.8025 3.07944C14.0736 1.6176 11.8586 0.8587 9.59656 0.953184C7.33449 1.04767 5.19048 1.98864 3.58956 3.58956C1.98864 5.19048 1.04767 7.33449 0.953184 9.59656C0.8587 11.8586 1.6176 14.0736 3.07944 15.8025C4.54128 17.5313 6.59935 18.6478 8.84566 18.9306C11.092 19.2134 13.3626 18.6419 15.2073 17.3293L20.4403 22.5623C20.7217 22.8437 21.1033 23.0018 21.5013 23.0018C21.8992 23.0018 22.2809 22.8437 22.5623 22.5623C22.8437 22.2809 23.0018 21.8992 23.0018 21.5013C23.0018 21.1033 22.8437 20.7217 22.5623 20.4403ZM3.00129 10.0013C3.00129 8.61682 3.41183 7.26344 4.181 6.1123C4.95017 4.96115 6.04342 4.06395 7.32251 3.53413C8.60159 3.00432 10.0091 2.8657 11.3669 3.13579C12.7248 3.40589 13.9721 4.07258 14.951 5.05154C15.93 6.03051 16.5967 7.27779 16.8668 8.63566C17.1369 9.99353 16.9983 11.401 16.4684 12.6801C15.9386 13.9592 15.0414 15.0524 13.8903 15.8216C12.7391 16.5907 11.3858 17.0013 10.0013 17.0013C8.14543 16.9992 6.36618 16.261 5.05388 14.9487C3.74159 13.6364 3.00341 11.8572 3.00129 10.0013Z"
                                    fill="#A9B1BB" />
                            </svg>
                        </div>
                    </form>
                </a>
            </div>
            <div class="solution-container">
                <div class="solution-categories-mobile show-on-mobile">
                    <select id="solution-categories-mb"></select>
                </div>
                <div class="articles" id="list-articles"></div>
                <aside class="solution-categories hide-on-mobile">
                    <ul id="solution-categories-list"></ul>
                </aside>
            </div>
        </section>
        {{#if portal.logged_in}}
        <h2 class="heading text-center">
            Danh sách yêu cầu của tôi
        </h2>
        <section id="home-lists-container" class="list-container" data-ce="true" data-ce-type="section"
            data-ce-subtype="tickets" data-ce-id="home-lists-container" data-ce-template-name="home">
            {{> loader}}
        </section>
        {{/if}}
        <script>
          renderHome("vi")
      	</script>
    </section>
{{else if (eq user_info.location_name "Singapore")}}
    <section id="home-page-container" data-ce-version="2.1">
        <section class="hero-banner">
            <h1>Welcome to Truvisor</h1>
            <h6>How can we help you?</h6>
            <form role='search' id="search-form">
                <input type="search" id="global-search-home" class="search-input"
                    placeholder="Search for solutions, services and tickets" />
                <button type="button" class="button">Search</button>
            </form>
            <div class="tags">
                <span>Popular:</span>
                <div class="tag-list">
                    <a target="_blank" href="/support/search?term=leave%20request">Leave Request</a>
                    <a target="_blank" href="/support/search?term=timekeeping">Timekeeping</a>
                    <a target="_blank" href="/support/search?term=service%20fee">Service fee</a>
                </div>
            </div>
        </section>
        <section class="functions">
            <h2 class="heading text-center">
               Popular functions
            </h2>
            <div class="function-list">
                {{#each cards}}
                <div class="item">
                    <div class="image">
                        {{image src=img alt="" role="presentation"}}
                    </div>
                    <h6>{{title}}</h6>
                    <p>{{content}}</p>
                    <a href="{{url}}">See More</a>
                </div>
                {{/each}}
            </div>
        </section>
        <section class="services">
            <div class="sub-header">
                <div>
                    <h2 class="heading">Create an approval request</h2>
                    <h6 class="sub-title">Service requirements for corporate officials and employees</h6>
                </div>
                <form role='search' class="search-form">
                    <input id="sr-search" type="search" placeholder="Search" />
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                            <path
                                d="M22.5623 20.4403L17.3293 15.2073C18.6419 13.3626 19.2134 11.092 18.9306 8.84566C18.6478 6.59935 17.5313 4.54128 15.8025 3.07944C14.0736 1.6176 11.8586 0.8587 9.59656 0.953184C7.33449 1.04767 5.19048 1.98864 3.58956 3.58956C1.98864 5.19048 1.04767 7.33449 0.953184 9.59656C0.8587 11.8586 1.6176 14.0736 3.07944 15.8025C4.54128 17.5313 6.59935 18.6478 8.84566 18.9306C11.092 19.2134 13.3626 18.6419 15.2073 17.3293L20.4403 22.5623C20.7217 22.8437 21.1033 23.0018 21.5013 23.0018C21.8992 23.0018 22.2809 22.8437 22.5623 22.5623C22.8437 22.2809 23.0018 21.8992 23.0018 21.5013C23.0018 21.1033 22.8437 20.7217 22.5623 20.4403ZM3.00129 10.0013C3.00129 8.61682 3.41183 7.26344 4.181 6.1123C4.95017 4.96115 6.04342 4.06395 7.32251 3.53413C8.60159 3.00432 10.0091 2.8657 11.3669 3.13579C12.7248 3.40589 13.9721 4.07258 14.951 5.05154C15.93 6.03051 16.5967 7.27779 16.8668 8.63566C17.1369 9.99353 16.9983 11.401 16.4684 12.6801C15.9386 13.9592 15.0414 15.0524 13.8903 15.8216C12.7391 16.5907 11.3858 17.0013 10.0013 17.0013C8.14543 16.9992 6.36618 16.261 5.05388 14.9487C3.74159 13.6364 3.00341 11.8572 3.00129 10.0013Z"
                                fill="#A9B1BB" />
                        </svg>
                    </div>
                </form>
            </div>
            <div class="sr-container">
                <aside class="sr-categories hide-on-mobile">
                    <ul id="sr-categories-list"></ul>
                </aside>
                <div class="sr-list-container">
                    <h3 class="hide-on-mobile"></h3>
                    <select class="show-on-mobile" id="sr-categories-list-mb"></select>
                    <div class="sr-list-items" id="list-items"></div>
                  	<div id="pagination"></div>
                </div>
            </div>
        </section>
        <section class="solutions">
            <div class="sub-header">
                <div>
                    <h2 class="heading">Support library</h2>
                    <h6 class="sub-title">Frequently Asked Questions (FAQs), User Guides</h6>
                </div>
                <a href="/support/search">
                    <form role='search' class="search-form">
                        <input type="search" placeholder="Search" />
                        <div class="icon">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path
                                    d="M22.5623 20.4403L17.3293 15.2073C18.6419 13.3626 19.2134 11.092 18.9306 8.84566C18.6478 6.59935 17.5313 4.54128 15.8025 3.07944C14.0736 1.6176 11.8586 0.8587 9.59656 0.953184C7.33449 1.04767 5.19048 1.98864 3.58956 3.58956C1.98864 5.19048 1.04767 7.33449 0.953184 9.59656C0.8587 11.8586 1.6176 14.0736 3.07944 15.8025C4.54128 17.5313 6.59935 18.6478 8.84566 18.9306C11.092 19.2134 13.3626 18.6419 15.2073 17.3293L20.4403 22.5623C20.7217 22.8437 21.1033 23.0018 21.5013 23.0018C21.8992 23.0018 22.2809 22.8437 22.5623 22.5623C22.8437 22.2809 23.0018 21.8992 23.0018 21.5013C23.0018 21.1033 22.8437 20.7217 22.5623 20.4403ZM3.00129 10.0013C3.00129 8.61682 3.41183 7.26344 4.181 6.1123C4.95017 4.96115 6.04342 4.06395 7.32251 3.53413C8.60159 3.00432 10.0091 2.8657 11.3669 3.13579C12.7248 3.40589 13.9721 4.07258 14.951 5.05154C15.93 6.03051 16.5967 7.27779 16.8668 8.63566C17.1369 9.99353 16.9983 11.401 16.4684 12.6801C15.9386 13.9592 15.0414 15.0524 13.8903 15.8216C12.7391 16.5907 11.3858 17.0013 10.0013 17.0013C8.14543 16.9992 6.36618 16.261 5.05388 14.9487C3.74159 13.6364 3.00341 11.8572 3.00129 10.0013Z"
                                    fill="#A9B1BB" />
                            </svg>
                        </div>
                    </form>
                </a>
            </div>
            <div class="solution-container">
                <div class="solution-categories-mobile show-on-mobile">
                    <select id="solution-categories-mb"></select>
                </div>
                <div class="articles" id="list-articles"></div>
                <aside class="solution-categories hide-on-mobile">
                    <ul id="solution-categories-list"></ul>
                </aside>
            </div>
        </section>
        {{#if portal.logged_in}}
        <h2 class="heading text-center">
            My requests
        </h2>
        <section id="home-lists-container" class="list-container" data-ce="true" data-ce-type="section"
            data-ce-subtype="tickets" data-ce-id="home-lists-container" data-ce-template-name="home">
            {{> loader}}
        </section>
        {{/if}}
        <script>
            renderHome("en")
        </script>
    </section>
{{else}}
    <section id="home-page-container" data-ce-version="2.1">
    <section 
        id="hero-banner"
        data-ce="true"
        data-ce-id="hero-banner"
        data-ce-type="section"
        data-ce-subtype="hero"
        data-ce-template-name="home"
    >
        <div class="hero-banner-container">
        <h2 data-ce-translation="portal.home_title" data-ce-id="heroTitle" data-ce="true" data-ce-content="static" data-ce-type="text" data-placeholder="{{translate 'portal.builder.enter_your_text'}}">
            <strong>{{customTranslate "portal.home_title"}}</strong>
        </h2>
        <section id="banner-search">
            <form role='search' id="search-form">
            <i class="ficon-search" role="presentation"></i>
            <input
            type="search"
            id="global-search-home"
            class="search-input"
            aria-label="{{ translate 'portal.search.search_text'}}"
            placeholder="{{translate 'portal.home_search_placeholder'}}" />
            </form>
        </section>
        <section id="announcement-banner" role="region"
            aria-label="{{translate 'portal.announcements'}}">
            {{#announcement}}
            <div class="announcement-banner-container">
                <a class="announcement-link" href="/support/announcements/{{id}}">
                    <div class="announcement-latest">
                    <div class="announcement-postedby-img">
                        {{avatar name=user.name url=user.avatar_url class="user-profile-pic"}}
                    </div>
                    <div class="announcement-content">
                        <h2 class="announcement-title">{{title}}</h2>
                        <p class="announcement-postedby">{{{ translate "portal.announcements_sidebar.posted_by" user_name=user.name created_on=(timediff planned_start_date) }}}</p>
                    </div>
                    </div>
                </a>
                <div class="announcement-show-all">
                <a class="announcement-show-all-link" href="/support/announcements">
                    {{translate "portal.view_all"}}
                </a>
                </div>
            </div>
            {{/announcement}}
        </section>
        </div>
    </section>

    <section 
        id="cards-banner" 
        class="banner-{{cards.length}}" 
        data-ce="true" 
        data-ce-type="section"
        data-ce-subtype="cards" 
        data-ce-id="cards-banner" 
        data-ce-template-name="home"
    >
        {{#each cards}}	
        <a 
            href="{{url}}" 
            class="card"
            {{conditional_attribute external_image 'target' '_blank'}} 
            data-ce="true" 
            data-ce-type="card"
            data-ce-subtype="default"
            data-ce-template-name="home"
            data-ce-children-editable="true"
            role="{{role}}"
            aria-label="{{aria-label}}"
            data-ce-custom={{ternary isCustom "true" "false"}}
            data-ce-id={{ternary ceId ceId (concat "default-card-" (toString @index))}}
        >
            {{image src=img alt="" role="presentation" class="elem-inline-mid"}}
            <div class="elem-inline-mid card-text">
            <h3 data-ce-translation="{{titleTranslationPath}}">
                {{title}}
                {{#if external_image}}
                    {{image src="/images/portal_v2/open-in-new-tab.svg" alt=(translate "portal.aria.external") class="external-link"}}
                {{/if}}
            </h3>
            <p data-ce-translation="{{contentTranslationPath}}">  
                {{content}}
            </p>
            </div>
        </a>
        {{/each}}
    </section>

    {{#if portal.logged_in}}
        <section id="home-lists-container" class="list-container" data-ce="true" data-ce-type="section" data-ce-subtype="tickets" data-ce-id="home-lists-container" data-ce-template-name="home">
        {{> loader}}
        </section>
    {{/if}}
    </section>
{{/if}}